.club-bage {
	display: block;
    padding: 1rem;
    overflow: hidden;
    &__description {
        color: #999;
    }
    &__header {
		color: #222;
        margin: 0 0 1rem 0;
        padding: 0 0 0 0;
    }
    &__image {
        border-radius: 50%;
        display: block;
    }
	&__info {
		padding: 0 0 0 2rem;
	}
	&__link {
		display: flex;
	    overflow: hidden;
		text-decoration: none;
	}
    &__location {
        color: #999;
    }
    &__name {
		color: #222;}
}