@import "_grid.scss";

html {
	font-size: 16px;
}
body {
    font-family: Arial;
}

.body {
	background-color: #222;
	& > .container {
		background-color: #fff;
	}
}

.activities {
    &-map {
        height: 480px;
		padding: 1rem;
	    &__header {
			color: #222;
	        margin: 0 0 1rem 0;
	        padding: 0 0 0 0;
	    }
        &-wrapper {
            margin: 0 0 0 0;
        }
    }
}

.footer {
	padding: 1rem;
	text-align: center;
	a {
		color: #222;
		text-decoration: none;
		&:hover {
			color: #fc4c02;
		}
	}
	& > div {
		padding: 1rem 0;
	}
}

@import "_athletes.scss";
@import "_club.scss";
@import "_header.scss";
@import "_medals.scss";
@import "_pedestal.scss";
@import "_report.scss";
@import "_semispoiler.scss";
@import "_spoiler.scss";