@import "_grid.scss";
@import "_club.scss";
@import "_report.scss";
@import "_spoiler.scss";

body {
    font-family: Arial;
}

.report__avatar {
    border-radius: 50%;
    float: left;
    height: 50px;
    width: 50px;
}

.report__link {
    color: #c3008f;
    float: left;
    margin: 0 0 0 10px;
    text-decoration: none;
}

